<%- include('partials/header') -%>


    <!--Navigation Section-->
   
    <div id="head-section">
        <img id="header-img" src="/images/header.jpg">
     
        <img id="head-icon" src="/images/Alpha-icon.png">
        <div id="header" style="transform: translateY(12px);">
            <a href="/home"><p class="head-span " id="activenav" >Home</p></a>
            <a href="/forum"><p class="head-span">Forum</p></a>
            <a href="/community"><p class="head-span">Community</p></a>
            <a href="/contact"><p class="head-span">Contact</p></a>
        </div>
        <!-- <a href="/signout"><img id="login-icon" src="/images/login.png"></a> -->
        <div class="btn-group btn-float-right">
            <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="login-icon" src="/images/login.png">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                    <a class="dropdown-item dropdownProp" href="/profile">
                        <i class="fa-regular fa-id-badge"></i> &nbsp;
                        Profile
                    </a>
                </li>
              <li>
                    <a class="dropdown-item dropdownProp" href="/signout">
                        <i class="fa-solid fa-right-from-bracket"></i>  &nbsp;
                        Sign out
                    </a>
                </li>
            </ul>
          </div>
        <div id="titlesec">
            <h1 class="h1t">
                <b>EDUCATIONAL 
                    <br> 
                    CAREER SERVICE
                </b>
            </h1>
        </div>
    </div>

   

    <!--About Section-->
    <div id="about">
        <h1 class="h1">ABOUT</h1>
        <div >
            <p class="para">
                The educational Career service is an initiative by team <b><i>Alpha variants</i></b>  for providing 
                some idea to the young generation about the career choices. Career guidance is the guidance
                given to individuals to help them acquire the knowledge, information, skills, and experience 
                necessary to identify career options, and narrow them down to make one career decision. 
                This career decision then results in their social, financial and emotional well-being 
                throughout. This web application provides some basic career choices and how to grab those 
                opportunites. This application mainly focuses on clearing the doubts of the students and 
                motivate them them in a good manner to achieve their goals. 
            </p>
        </div>
    </div>

    <!--Features-->
    <div id="features">
        <h1 class="h1">FEATURES</h1>
        <ul style="list-style-type: none;">
            <li>
                <h1 class="feat">Forum:</h1>
                <p class="feap">
                    The forum section focuses on doubt clearing. Here, the doubts can be posted publicly
                    and the expert in the field can answer those questions to clear it. This can also help 
                    others in future to refer and clear the similar doubts.

                </p>  
            </li>
            <li>
                <h1 class="feat">Community:</h1>
                <p class="feap">
                    The community section mainly focuses on one to one interaction about preparation. Here, 
                    anyone can communicate through the channels present and chat through it. The users can also 
                    create their custom channels to communicate.
                </p>
            </li>
        </ul>
    </div>

    <!--Career Choices-->
    <div id="career">
        <h1 class="h1">CAREER CHOICES</h1>
        <div >
            <p class="para"> 
                With the advancement in technology & education system, a plethora of career options are available 
                for students to pursue after graduation. The completion of graduation is marked with two kinds of 
                feelings. One emotion is happiness for crossing a milestone in your life and the second emotion is 
                worry, as you wonder what to do next. With the huge number of career options available today, it is 
                only natural that you are feeling confused and overwhelmed. However, it doesn’t have to be that way! 
                First and foremost, try to recognize what your strong points are and then look into what sort of 
                interests you have.
            </p>
        </div>
   
        <div class="row carrow">
            <div class="carbox  col-lg-3 col-md-6 col-sm-12">
                <h3 class="carboxH3" style="font-weight: bold;">Medical</h3>
                <hr> 
                <h3>
                    MBBS Full Form is Bachelor of Medicine and a Bachelor of Surgery. MBBS is 5 years and 6 
                    months undergraduate medical course. MBBS Course is a professional degree required to 
                    become a doctor, diagnose diseases, prescribe medicine, and conduct surgery.
                </h3>
            </div>
            <div class="carbox  col-lg-3 col-md-6 col-sm-12">
                <h3 class="carboxH3" style="font-weight: bold;">Enginnering</h3>
                <hr> 
                <h3>
                    Engineering is a scientific field and job that involves taking our scientific understanding 
                    of the natural world and using it to invent, design, and build things to solve problems and 
                    achieve practical goals. This can include the development of roads, bridges, cars, planes, 
                    machines, tools, processes, and computers. 
                </h3>
            </div>
            <div class="carbox col-lg-3 col-md-6 col-sm-12">
                <h3 class="carboxH3" style="font-weight: bold;">Arts</h3>
                <hr> 
                <h3>
                    A College of Arts and Sciences or School of Arts and Sciences is most commonly an individual 
                    institution or a unit within a university that focuses on instruction of the liberal arts and 
                    pure sciences, although they frequently include programs and faculty in fine arts, social 
                    sciences, and other disciplines.
                </h3>
            </div>
            <div class="carbox col-lg-3 col-md-6 col-sm-12">
                <h3 class="carboxH3" style="font-weight: bold;">polytechnic</h3>
                <hr> 
                <h3>
                    Polytechnic is a diploma or vocational course in which an institute focuses on delivering 
                    technical education. Generally, polytechnic courses are a three year programme after 
                    completion of which candidates obtain a certificate.
                </h3>
            </div>
        </div>
        
    </div>

    <div id="quote">

        <h2>"Choose a job you love, and you never have to work a day in your life."</h2>
        <h1 style="font-weight:bold ;">~Confucius </h1>

        
    </div> 
    
<%- include('partials/footer') -%>    