<%- include('partials/header') -%>

    <!--Navigation Section-->
    <div  class="nav-new">    
        <img id="head-icon" src="/images/Alpha-icon.png">
        <div id="header" style="transform: translate(-25px,15px)">
            <h2 class="head-span" ><b>Alpha Variants</b></h2>
        </div>
        
        
    </div>

    <div class="response-msg-div">
        <p></p>
    </div>
    <!-- signin -->

<div class="sign-div">
    <div class="sign-border">
        <h3>SIGN IN</h3>
        <form action="/signin" method="post">
            <div class="form-floating mb-3">
                <input type="Username" class="form-control" id="floatingInput" name="username" placeholder="Username" required> 
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div><br>
            <button type="submit" class="btn btn-outline-secondary btn-lg">Submit</button><br><br>
            <p style="font-size: 20px;">Haven't created an account?<a href="/signup" style="color: blue;">Click here</a></p>
        </form>
    </div>
    
</div>

<%- include('partials/footer') -%>